# --- Core Application Dependencies ---
facebook-business
pydantic
pydantic-settings
python-dotenv
requests
beautifulsoup4
selenium
webdriver-manager
blinker==1.7.0
setuptools
google-generativeai

# --- Outils de Développement et Linters ---
black
ruff
isort
pandas
gspread
oauth2client

# --- Dépendances potentiellement en conflit ---
# google-generativeai==0.5.4 # Commenté pour éviter conflits pour l'instant
# selenium-wire # Remplacé par la méthode de logging de Selenium natif 