# --- Core Application Dependencies ---
Flask
facebook-business
pydantic
pydantic-settings
python-dotenv
requests
selenium
webdriver-manager
blinker==1.7.0
setuptools
google-generativeai
Markdown
Pillow
werkzeug
pytz
python-dateutil
beautifulsoup4
lxml

# --- Outils de Développement et Linters ---
black
ruff
isort
pandas
gspread
oauth2client

# --- Dépendances potentiellement en conflit ---
# google-generativeai==0.5.4 # Commenté pour éviter conflits pour l'instant
# selenium-wire # Remplacé par la méthode de logging de Selenium natif 